<?xml version="1.0" encoding="utf-8"?>
<sample title="Microprofiler">
	<sdk_desc>Using <i>Microprofile</i>, an advanced CPU/GPU profiler, to track performance and estimate the time spent on different sections of code.</sdk_desc>
	<desc>
		<brief>This sample demonstrates methods for tracking performance and estimating the time spent on different sections of code. For this purpose, it uses <strong><link to="profiling_microprofile">Microprofile</link></strong>, an advanced CPU/GPU profiler with per-frame inspection support.</brief>
		<para>Profiling is crucial for identifying performance bottlenecks and optimizing code execution. This analysis helps you understand if any code sections negatively impact the project's speed.</para>
	</desc>
	<exec>microprofile_enabled 1</exec>
	<edit>microprofile_enabled 1</edit>
	<tags>
		<tag>Systems</tag>
		<tag>Optimization</tag>
	</tags>
</sample>
