<?xml version="1.0" encoding="utf-8"?>
<sample title="USC Arrays">
	<desc>
		<brief>This sample showcases integration between <ui>C#</ui> and <ui>UnigineScript</ui> by registering external <ui>C#</ui> functions that manipulate <ui>UnigineScript</ui> array types.</brief>
		<para>The registered functions allow for setting and getting values, generating test data, and enumerating the contents of both <ui><link to="arrayvector_class">ArrayVector</link></ui> (indexed container) and <ui><link to="arraymap_class">ArrayMap</link></ui> (associative container).</para>
	</desc>
	<tags>
		<tag>UnigineScript</tag>
	</tags>
</sample>
