<?xml version='1.0' encoding='utf-8'?>
<sample title="AsyncQueue">
	<sdk_desc>Loading meshes and textures in a separate thread using the <i>AsyncQueue</i> class</sdk_desc>
	<desc>
		<brief>
			<para>This sample shows how to load resources like meshes and textures in the background using the <ui><link to="asyncqueue_class">AsyncQueue</link></ui> class. Files are loaded in a separate thread, so the main application stays responsive.</para>
			<para>Meshes and textures are added to the loading queue, and the system listens for events to know when each resource is ready. When a mesh finishes loading, it's removed from the queue. For textures, an event handler is used to handle their completion. The sample also demonstrates how to group and manage resource requests, making it easier to control the loading process.</para>
		</brief>
		<para>This kind of async loading is useful for streaming large levels, loading assets on demand in VR, or preloading data in simulations without freezing the interface.</para>
	</desc>
	<link_docs>https://developer.unigine.com/docs/api/library/filesystem/class.asyncqueue?rlang=cs</link_docs>
	<tags>
		<tag>Systems</tag>
		<tag>Optimization</tag>
		<tag>File System</tag>
		<tag>Multithreading</tag>
	</tags>
</sample>