<?xml version="1.0" encoding="utf-8"?>
<sample title="Gamepad Input">
	<desc>
		<brief>This sample demonstrates how to add input from the gamepad to the project.</brief>
	</desc>
	<tags>
		<tag>Input &amp; Controls</tag>
	</tags>
</sample>